* {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #0170B8;
}

.contact {
    padding: 4%;
    height: 400px;
}

.col-md-3 {
    background: #ff9210;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.contact-info {
    margin-top: 10%;
}

.contact-info img {
    margin-bottom: 15%;
}

.contact-info h2 {
    margin-bottom: 10%;
}

.col-md-9 {
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.contact-form label {
    font-weight: 600;
}

.contact-form button {
    background: #5066ad;
    color: #fff;
    font-weight: 600;
    width: 25%;
}

.contact-form button:focus {
    box-shadow: none;
}

/* navigation css */
.navigation {
    background-color: white;
}

.logo {
    height: 70px;
    width: 360px;
}

.nav-color {
    background-color: white;
}

.nav-item {
    font-size: 18px;
}

.nav-link {
    color: orange;
}

.action-icons {
    display: inline-block;
    width: auto;
}